
@charset "utf-8";

carouse-pane > figure {
	position: relative;
}

carouse-pane > figure > img {
	width: 100%;
	display: block;
}

carouse-pane > figure > figcaption {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0.5em;
	text-align: center;
	color: white;
	text-shadow: 0.5px 1px 1px rgba(0,0,0, 1);
	background: rgba(0,0,0, 0.2);
}

carouse-pane > figure > figcaption a {
	color: inherit;
}
