
@charset "utf-8";
@import url("carousel.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	--focus-outline: 2px solid #0ef;
}

*:focus {
	outline: var(--focus-outline);
}

html, body {
	color: #aaa;
	background: #222;
	font-size: 16px;
}

body > header {
	padding: 1em;
	background: #444;
}

body > main {
	padding: 1em;
}

main > h1 {
	margin-bottom: 1em;
}

carouse-carousel {
	--focus-outline: 2px solid #0ef;
	--carouse-slate-bg: rgba(255,255,255, 0.1);
	--carouse-arrow-bg: rgba(100,100,100, 0.8);
	--carouse-arrow-color: rgba(255,255,255, 0.5);
	--carouse-arrow-color-hover: rgba(255,255,255, 0.7);
	--carouse-arrow-color-active: rgba(255,255,255, 0.9);
	--carouse-dotbar-bg: rgba(255,255,255, 0.05);
	--carouse-dot-size: 0.8em;
	--carouse-dot-bg: rgba(255,255,255, 0.3);
	--carouse-dot-bg-hover: rgba(255,255,255, 0.6);
	--carouse-dot-bg-active: rgba(255,255,255, 1);
}
