
@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	--focus-outline: 2px solid #0ef;
}

*:focus {
	outline: var(--focus-outline);
}

html, body {
	color: #aaa;
	background: #222;
	font-size: 16px;
}

body > header {
	padding: 1em;
	background: #444;
}

body > main {
	padding: 1em;
}

main > h1 {
	margin-bottom: 1em;
}

carouse-system {
	--focus-outline: 2px solid #0ef;
	--carouse-slate-bg: rgba(255,255,255, 0.1);
	--carouse-arrow-bg: rgba(100,100,100, 0.8);
	--carouse-arrow-color: rgba(255,255,255, 0.5);
	--carouse-arrow-color-hover: rgba(255,255,255, 0.7);
	--carouse-arrow-color-active: rgba(255,255,255, 0.9);
	--carouse-dotbar-bg: rgba(255,255,255, 0.05);
	--carouse-dot-size: 0.8em;
	--carouse-dot-bg: rgba(255,255,255, 0.3);
	--carouse-dot-bg-hover: rgba(255,255,255, 0.6);
	--carouse-dot-bg-active: rgba(255,255,255, 1);
}

carouse-pane figure {
	position: relative;
}

carouse-pane figure > img {
	width: 100%;
	display: block;
}

carouse-pane figcaption {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding: 0.5em;
	color: white;
	text-shadow: 0.5px 1px 1px rgba(0,0,0, 1);
	background: rgba(0,0,0, 0.2);
}

carouse-pane figcaption a {
	color: inherit;
}
